html {
    background-color: black;
    margin: 0;
    padding: 50px;
}
body {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
#container{
    max-width: 90%;
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(34, 32, 32, 0.616);

}

.question{
  color:white;  
  font-size: 30px;
  padding: 10px;
  
}

.choice {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: gold;
    background-color: transparent;
    padding: 10px;
    margin: 5px;

}
.choice:hover {
    color: palevioletred;
    padding: 15px
}

.btnMultipleChoice {
    order: 4;
    padding: 10px;
}


/* .true-falseQuestion {
    order: 2;
    padding: 10px;
} */


.playButton{
    width: 100px;
    height: 100px;
    border-style:ridge;
    border-width: 50px 0px 50px 100px;
    border-color: transparent transparent transparent deeppink;
    box-sizing: border-box;
    font-size: 100px;
    align-content: center;
    background-color: transparent;
    
}

.button{
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    color: gold;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
}

.button:hover {
    color: palevioletred;
    padding: 15px
}

#score {
    font-size: large;
    font-weight: bold;
}
    #userScore {
        color: whitesmoke;
    }
    #totalScore{
        color: whitesmoke;
    }

#pressPlayTxt{
    color: goldenrod;
    font-size: 30px;
}

#letsSee {
    color: gold;
    font-size: 15px;
    font-weight: lighter;
}



.hide{
    display: none;
}


